<!DOCTYPE html>
<html lang="en">

  <head>

    <title>{{ .Title }}</title>

	{{ partial "header.html" }}
  </head>

  <body>

  	  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Tangoloso</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
		  
		  <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class='nav-link' href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a class='nav-link' href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a class='nav-link' href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">
		<article id="content">
		<div class='row justify-content-center'>
			<div class='col-lg-8'>
			{{ .Content }}
			</div>
		</div>
		</article>
	  {{ partial "footer.html" }}
	</div>
  </body>

</html>
