<!DOCTYPE html>
<html lang="en">

  <head>

    <title>{{ .Title }}</title>

	{{ partial "header.html" }}
  </head>

  <body>

  	  <!-- Navigation -->
      <!-- Navigation -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
           <a class="navbar-brand" href="https://www.tangoloso.com"><img src="{{ "/img/tangoloso-small.png"| absURL }}" alt="Logo Tangoloso" /></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">

   		  <ul class="navbar-nav ml-auto">
           {{ $currentPage := . }}
           {{ range .Site.Menus.main }}
               {{ if .HasChildren }}
                   <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                       <a class='nav-link' href="#">
                           {{ .Pre }}
                           <span>{{ .Name }}</span>
                       </a>
                   </li>
                   <ul class="sub-menu">
                       {{ range .Children }}
                           <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                               <a class='nav-link' href="{{ .URL | absURL }}">{{ .Name }}</a>
                           </li>
                       {{ end }}
                   </ul>
               {{ else }}
                   <li>
                       <a class='nav-link' href="{{ .URL | absURL }}">
                           {{ .Pre }}
                           <span>{{ .Name }}</span>
                       </a>
                   </li>
               {{ end }}
           {{ end }}
           <li class='menu-fb'><a href='https://www.facebook.com/tangolos'><img  src='{{ "/img/square-facebook-128.png" | absURL }}' alt='voir le facebook de Tangoloso' /></a></li>
       </ul>
           </div>
         </div>
       </nav>


    <!-- Page Content -->
    <div class="container">
		<article id="content">
		<div class='row justify-content-center row-eq-height'>
			<div class='col-lg-8'>
      <h1>
        {{ if (not (isset .Params "titlelong")) }}
        {{ .Title }}
        {{else}}
        {{ .Params.titlelong}}
        {{end}}
      </h1>
      <div class="logo-article">
        <img class="img-fluid" src='{{ .Params.logo }}' alt='' />
      </div>

			{{ .Content }}
			</div>
		</div>
		</article>

	</div>

  {{ partial "footer.html" }}
  </body>

</html>
