<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Tangoloso</title>

	{{ partial "header.html" }}
  </head>

  <body>

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://www.tangoloso.com"><img src="{{ "/img/tangoloso-small.png"| absURL }}" alt="Logo Tangoloso" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

		  <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class='nav-link' href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a class='nav-link' href="{{ .URL | absURL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a class='nav-link' href="{{ .URL | absURL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li class='menu-fb'><a href='https://www.facebook.com/tangolos'><img  src='{{ "/img/square-facebook-128.png" | absURL }}' alt='voir le facebook de Tangoloso' /></a></li>
    </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

		<section class='section-top-page'>
      <div class="container">
  			<div class='title-center'>
  				<h1><span class='tango'>Tango</span><span class='loso'>loso</span></h1>
          <p class='subtitle'>Le tango délicieux</p>
          <div class="top-buttons">
            <a href='./cours-de-tango-a-lyon/' class='btn btn-top-1'>Cours collectifs à Lyon</a>

            <a href="./cours-particuliers-de-tango-a-lyon" class='btn btn-top-2'>Cours particuliers</a>
          </div>


  			</div>
      </div>
		</section>

		<section class='section-actu'>
      <div class="container">
        <div class="content">
          <h2>Actualité</h2>
          <div class='row'>
            <div class='col-md-7'>
              {{ range first 1 (where .Site.RegularPages "Type" "post").ByDate.Reverse }}
              <div class='article-list-last-news article-list-element'>
                <span class='article-list-date-last-news'>{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
                <h3 itemprop="headline">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                <div class="uber-content-image">
                  <div class='article-list-logo-last-news'><a href="{{ .RelPermalink }}">
                    <img class="img-fluid" src='{{ .Params.logo }}' alt='' /></a>
                  </div>
                </div>

                <div class="article-list-text-last-news">

                  <p class='article-list-description'>{{ .Params.description }}</p>
                </div>

              </div>
              {{ end }}
            </div>


            <div class='col-md-5'>
              {{ range first 2 (after 1 (where .Site.RegularPages "Type" "post").ByDate.Reverse) }}

              <div class='article-list-element'>
                <span class='article-list-date'>Actualité du {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
                <h3 itemprop="headline">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                <div class='article-list-logo' ><a href="{{ .RelPermalink }}"><img class="img-fluid" src='{{ .Params.logo }}' alt='' /></a></div>


                <p class='article-list-description'>{{ .Params.description }}</p>
              </div>

              {{ end }}

            </div>
          </div>
        </div>

      </div>
		</section>




    {{ .Content }}

  </div>


	{{ partial "footer.html" }}

  </body>

</html>
