body,html{
height:100%;
}

h1{
font-size:2em;
}

h2{
	text-transform:uppercase;
	font-size:1.7em;
	margin-top:1.7em;
}

h3{
	font-size:1.6em;
}

.navbar{
	background-color:white !important;
	color:#4c4c4c !important;
	border-bottom:1px solid #fbe8eb  !important;
	padding:0;
	-moz-box-shadow: 2px 10px 5px -10px #c0c0c0;
	-webkit-box-shadow: 2px 10px 5px -10px #c0c0c0;
	-o-box-shadow: 2px 10px 5px -10px #c0c0c0;
	box-shadow: 2px 10px 5px -10px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=168, Strength=5);
}

.navbar a.nav-link{
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: -1px;
	color:#4c4c4c !important;
	margin-left:1.4em;
}

.navbar a.nav-link:hover{
	color:#e06666 !important;
}

a{
	color:#e06666 !important;
}

a.btn-primary{
	color:white !important;
	background:#e06666;
	border:#e06666;
}

a.btn-primary:hover{
	background:#fb7169;
	border:#fb7169;
}

#mc-embedded-subscribe{
	color:white !important;
	background:#e06666;
	border:#e06666;
	border-radius: .25rem;
	padding:4px;
}

#mc-embedded-subscribe:hover{
	background:#fb7169;
	border:#fb7169;
}

a.navbar-brand img{
	height:40px;
	width:auto;
}

.navbar-toggler{
	background:#e06666;
}

.footer{
	margin-top:3em;
	padding-top:3em;
	padding-bottom:3em;
	background:#403e3e;
	color:white;
	-moz-box-shadow: 2px -10px 5px -10px #c0c0c0;
	-webkit-box-shadow: 2px -10px 5px -10px #c0c0c0;
	-o-box-shadow: 2px -10px 5px -10px #c0c0c0;
	box-shadow: 2px -10px 5px -10px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=11, Strength=5);
}


.footer a{
	color:#f77a7a !important;
	text-decoration:underline;
}


.article-list-element{
	font-size:0.9em;
}

.article-list-date{
	font-size:0.7em;
}


.title-center{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-top-page h1{
	font-family: 'Cookie', cursive;
	font-size:7em;
	text-shadow: 1px 1px 2px black;
	text-align:center;
	padding:0;
	margin-bottom:0;
}

span.tango{
	color:#e06666;
}

span.loso{
	color:white;
}

.subtitle{
	font-family: 'Cookie', cursive;
	font-size:2.5em;
	color:white;
	text-align:center;
}

section.section-top-page{
	position:relative;
	min-height:70%;
	background: url("../img/background-top.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.top-buttons{
text-align:center;
}

a.btn-top-1{
	background: #e06666 !important;
	color: #fff !important;
	border-color: #e06666 !important;
	border-radius:0px;
	height:40px;
	width:230px;
	font-weight:bold;
	font-size:0.8em;
	padding-top:7px;
	text-transform:uppercase;
}

a.btn-top-1:hover{
	background:#f63737  !important;
}

a.btn-top-2{
	color: #fff !important;
	border: 2px solid white;
	border-radius:0px;
	height:40px;
	width:230px;
	font-weight:bold;
	font-size:0.8em;
	padding-top:7px;
	text-transform:uppercase;
}

a.btn-top-2:hover{
	color:black !important;
	background:white;;
}

.article-list-logo-last-news{
	position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;

overflow: hidden;
}

hr{
	border:1px solid black;
}

.article-list-element{
	background:#f8f8f8;
	padding:1em;
	margin-bottom:1em;
	border:1px solid #c0c0c0;
}

.uber-content-image{
	position:relative;
height:380px;
}


.article-list-last-news{
	height:525px;
}

.article-list-text-last-news,.article-list-description{
margin-top:0.7em;
}

.article-list-logo-last-news img{
	position: absolute;
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;

  max-height: none;
  max-width: none;

  min-height: 100%;
  min-width: 100%;
	height:70%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.article-list-logo img{
	display:block;
	width:100%;
	margin: -25px 0 0 -30px;
}


.article-list-logo{
	height:120px;
	overflow:hidden;
}

section{
	padding-top:2em;
	padding-bottom:2em;
}


article{
	margin-top:1.5em;
}

article h1{
	font-family: 'Cookie', cursive;
	font-size:3.5em;
}

.menu-fb img{
	margin-left:2em;
	margin-top:0.4em;
	height:32px;
}

.section-apropos,.section-contact {
	background:#ececec;
}


.portrait{
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
		width:100px;
		height:100px;
}

.article-list-last-news{
padding-right:1em;
}
