<footer>
	<div class='footer row justify-content-center'>

		<div class='col-md-4'>
			<h2>Contacts</h2>
			<p>
				Tel : 06.32.41.67.59<br/>
				contact@tangoloso.com
			</p>
		</div>

		<div class='col-md-4'>
			<h2>Crédits</h2>
			<p>
				Site internet : Fabien Grignoux<br/>
				Photos : Jean Pierre Tridon / Photoclub Bressan
			</p>
		</div>

	</div> 
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{{ "/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "/js/bootstrap.bundle.min.js" | absURL }}"></script>