<footer>
	<div class="footer">
		<div class="container">
			<div class=' row justify-content-center'>

				<div class='col-md-4'>
					<h2>Contacts</h2>
					<p>
						Par téléphone : <a href='+tel:33624867169'> 06.24.86.71.69</a><br/>
						Par mail : <a href='mailto:fab.grignoux@gmail.com'>fab.grignoux@gmail.com</a>
					</p>
				</div>

				<div class='col-md-4'>
					<h2>Crédits</h2>
					<p>
						Site internet : <a href='https://www.facebook.com/fabien.grignoux'>Fabien Grignoux</a><br/>
						Photos : Jean Pierre Tridon / Photoclub Bressan, Michel Robert

					</p>
				</div>

			</div>
		</div>
	</div>


</footer>
<!-- Bootstrap core JavaScript -->
<script src="{{ "/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "/js/bootstrap.bundle.min.js" | absURL }}"></script>
