    <!-- Bootstrap core CSS -->

	<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | absURL }}">
	<link rel="stylesheet" href="{{ "/css/tangoloso.css" | absURL }}">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="L'association Tangoloso propose des cours de tango argentin à Lyon 3ème">
    <meta name="author" content="Fabien Grignoux">


	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }} - Tangoloso" />
	<meta property="og:description" content="L&#039;association Tangoloso propose de délicieux cours, stages et milongas de tango argentin à Lyon 3ème." />
	<meta property="og:url" content="https://www.tangoloso.com/" />
	<meta property="og:site_name" content="Tangoloso" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="L&#039;association Tangoloso propose de délicieux cours, stages et milongas de tango argentin à Lyon 3ème." />
	<meta name="twitter:title" content="{{ .Title }} - Tangoloso - Tangoloso" />

	<!-- Matomo -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
		var u="//www.tango-agenda.com/ta/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', '2']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
